@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, section, header, footer, nav, form, input, div {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Roboto Condensed", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 游ゴシック体, "Yu Gothic", YuGothic, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
}

li, ol {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.flexbox01 {
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  background: #FFDD00;
  padding: 10px;
}

@media (max-width: 768px) {
  header {
    background-color: red;
  }
}

#logo {
  width: 230px;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  height: 22px;
  vertical-align: middle;
  width: 30px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  background: #555;
  /*長さ*/
  border-radius: 3px;
  content: '';
  cursor: pointer;
  display: block;
  height: 3px;
  position: absolute;
  /*線の太さ*/
  width: 25px;
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  -webkit-transition: .3s ease-in-out;
  background: black;
  display: none;
  height: 100%;
  /*全体に広がるように*/
  left: 0;
  opacity: 0;
  /*はじめは隠しておく*/
  position: fixed;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%;
  z-index: 99;
}

/*中身*/
#nav-content {
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  /*背景色*/
  -webkit-transition: .3s ease-in-out;
  background: #fff;
  /*最大幅（調整してください）*/
  height: 100%;
  left: 0;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  overflow: auto;
  position: fixed;
  top: 0;
  transform: translateX(-105%);
  transition: .3s ease-in-out;
  /*最前面に*/
  width: 90%;
  z-index: 9999;
  /*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  /*中身を表示（右へスライド）*/
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  transform: translateX(0%);
}

#sns-button {
  background-color: #FFDD00;
  position: fixed;
}
