@charset 'utf-8';
@import '_variables';

* {
  box-sizing: border-box;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, section, header, footer, nav, form, input, div {
  padding: 0;
  margin: 0;
}
html {
  font-size:62.5%;
}
body {
  font-family:"Roboto Condensed", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 游ゴシック体, "Yu Gothic", YuGothic, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: $black;
  font-size: 1.6rem;
}

li, ol {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:hover {
	cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.flexbox01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}